
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f6f0;
    margin: 0;
    padding: 0;
    height: 100%;

}
.container {
            max-width: 1200px; 
            margin: 0 auto;    
            padding: 20px;
            background-color: #889C9B;
            height: 1000px;
        }
.toinencontainer {
            max-width: 1000px; 
            margin: 0 auto;    
            padding: 20px;
            height: 900px;
            background-image: url('images/juu.jpg');
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;      
        }
header {
    background-color: #486966;
    padding: 10px 0;
    box-shadow: 0 4px 2px -2px gray;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: #486966;
}
.navbar .logo {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #404949;
    padding: 10px 20px;
    border-radius: 4px;
}
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar ul li {
    margin-left: 20px;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.navbar ul li a:hover {
    text-decoration: underline;
}
.banner {
    text-align: center;
    padding: 50px 0;
    
}
.banner h1 {
    font-size: 48px;
    margin: 0;
}
.image-placeholder {
    width: 900px;
    height: 300px;
    background-color: #B2BEBF;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
}


.float-container {
    border: 3px solid #fff;
    padding: 20px;
}
.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  


.description {
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    color: #000000;
    font-size: 16px;
}

.products {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 900px;
}

.product-card {
    width: 30%;
    background-color: #B2BEBF;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.product-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-image {
    width: 100%;
    height: 200px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 10px;
    overflow: hidden;
}

.product-card p {
    font-size: 14px;
    color: #000000;
    padding: 2px;
}

.product-card p i {
    display: block;
    font-size: 12px;
    color: #000000;
    margin-bottom: 5px;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(240, 240, 240, 0.9); 
    padding: 20px;
    margin: 20px auto;
    max-width: 800px; 
    min-height: 400px;

}

.contact-details {
    width: 50%;
    font-size: 14px;
    color: #333;
}

.contact-details a {
    color: #333;
    text-decoration: none;
}

.contact-details strong {
    font-weight: bold;
}

.map-placeholder {
    width: 45%;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 350px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-align: center;
}